
h2
{
    border: 2em;
    border-color: black;
    font-size: large;
    margin:24px auto;
    width: auto;

}


header
{
    background-color: yellow;
    color: aqua;
    font-size: 24px;
    margin:24px 24px 48px 24px;
    padding: 50px;
    text-align: center;
    width: auto;   
}

#btn
{
    border: 2em;
    border-color: black;
    color: rgb(27, 27, 10);
    display: block;
    font-size:large;
    height: 50px;
    margin:24px auto;
    width: auto;
    width: 200px;
}
textarea
{
    border-color: #cfcfcf;
    border-width: 1px;
    border-style: solid;
    border-radius: 0;
    columns: 400;
    display: inline-block;
    height: 200px;
    margin:24px 24px 48px 24px;
    padding-bottom: 2%;
    rows: 500px;
    width:100%;
}
