
h2{font-size: large;
    margin:24px auto;
    border: 2em;
    border-color: black;
    width: auto;
    }


header{
    background-color: yellow;
    color: aqua;
    margin:24px 24px 48px 24px;
    width: auto;
}

#btn{
    color: yellow;
    margin:24px auto;
    border: 2em;
    border-color: black;
    width: auto;
    display: block;


}
#inputArea{
    border: red;
    
    display:block;
    width:100%;
    height: 100px;
    padding-bottom: 2%;
    
}
.output1{
    border: red;
    margin:24px auto ;
    
    width:auto;
    height: 100px;
    padding-bottom: 2%;}