textarea{
    width:100%;
height:10px;
display:block;
margin:10 rem;
padding:5 rem;
}



h2{font-size: large;}


.output1 {
    border: black;
    height: 10vh;
    width: 80%;
    margin: 1rem;
    padding: 1rem;
}
